<!DOCTYPE html>
<!--[if lt IE 7]>	  <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>		 <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>		 <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" ng-app="Vision"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Oculus</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap-responsive.min.css">
		<link rel="stylesheet" type="text/css" href="css/darkstrap.css">
		<link rel="stylesheet" type="text/css" href="lib/jquery/jquery-ui.min.css">
		<link rel="stylesheet" type="text/css" href="lib/angular-ui/build/angular-ui.min.css">
		<link rel="stylesheet" type="text/css" href="css/application.css">

		<script src="lib/jquery/jquery.min.js"></script>
		<script src="lib/jquery/jquery-ui.min.js"></script>
		<script src="lib/jquery/jquery.jsonp.js"></script>
		<script src="lib/bootstrap/js/bootstrap.min.js"></script>
		<script src="lib/angular/angular.min.js"></script>
		<script src="lib/angular-ui/build/angular-ui.min.js"></script>
		<script src="lib/angular/angular-bootstrap.min.js"></script>
		<script src="lib/angular/angular-bootstrap-prettify.min.js"></script>
		<script src="lib/angular/angular-loader.min.js"></script>
		<script src="lib/angular/angular-resource.min.js"></script>
		<script src="lib/md5.js"></script>

		<script src="js/application.js"></script>
		<script src="js/services.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/filters.js"></script>
		<script src="js/directives.js"></script>
		<!--[if lt IE 9]>
			<script src="/lib/html5-3.6-respond-1.1.0.min.js"></script>
		<![endif]-->
	</head>

	<body ng-controller="MainCtrl">
		<!--[if lt IE 7]>
			<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
		<![endif]-->
		<div class="navbar navbar-inverse" style="position: static;">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">Oculus</a>
					<ul class="nav">
						<li class="dropdown" ng-show="isDev()">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Dev <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#" ng-click="context='view/rootscope.html'">$rootScope</a></li>
								<li><a href="#">RC Relations</a></li>
							</ul>
						</li>
						<li class="dropdown" ng-show="isAdmin()">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Admin <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#">Rollover</a></li>
								<li><a href="#">Dates Settings</a></li>
								<li><a href="#">Available Assessments</a></li>
								<li><a href="#">User Accounts</a></li>
								<li><a href="#">Account Access</a></li>
								<li><a href="#">Site Settings</a></li>
								<li><a href="#">Directory</a></li>
							</ul>
						</li>
						<li class="dropdown" ng-show="isAdmin()">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Data <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#">Areas of Study</a></li>
								<li><a href="#">Courses</a></li>
								<li><a href="#">CAS</a></li>
								<li><a href="#">Course Assessments</a></li>
								<li><a href="#">Learning Settings</a></li>
								<li><a href="#">Crossover Settings</a></li>
								<li><a href="#">Learning Relationships</a></li>
								<li><a href="#">Learning Resources</a></li>
								<li><a href="#">Funding Descriptions</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Documents <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#">VILP</a></li>
								<li><a href="#">Schedule</a></li>
								<li><a href="#" ng-click="context='view/logger.html'">Hourly Logs</a></li>
								<li ng-show="isRC() || isAdmin() || isDev()"><a href="#">Learner Contacts</a></li>
								<li><a href="#" ng-show="isRC() || isAdmin() || isDev()">Grades</a></li>
								<li><a href="#" ng-show="isAdmin() || isDev()">Transcript</a></li>
								<li><a href="#">Funding Requests</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Reports <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#">Attendance</a></li>
								<li><a href="#" ng-show="isAdmin() || isDev()">Changes Log</a></li>
								<li><a href="#">Funding</a></li>
								<li><a href="#">Hourly Logs</a></li>
								<li><a href="#">Progress Charts</a></li>
								<li><a href="#" ng-show="isRC() || isAdmin() || isDev()">IEPs</a></li>
								<li><a href="#">Documentation</a>students w/o VILP or Schedule</li>
								<li><a href="#">Orphans</a>students w/o RC or Parent</li>
								<li><a href="#">Transcripts</a></li>
								<li><a href="#" ng-show="isAdmin() || isDev()">User Log</a></li>
								<li><a href="#">VILPs</a></li>
								<li><a href="#">Schedules</a></li>
								<li><a href="#">Grades</a></li>
								<li><a href="#" ng-show="isRC() || isAdmin() || isDev()">Learner Contacts</a></li>
								<li><a href="#">Directory</a></li>
							</ul>
						</li>
					</ul>
					
					<div ng-controller="AccountCtrl" class="pull-left">
						<form class="form-inline navbar-search" ng-show="!loggedIn()" ng-submit="login()">
							<input autofocus class="input-small search-query" ng-model="username" placeholder="Username" type="text">
							<input class="input-small search-query" ng-model="password" placeholder="Password" type="password">
							<button type="submit">login</button>
						</form>
						<div class="text-info" ng-show="loggedIn()">
							Logged in as {{user.fullName}}
						</div>
					</div>

					<div ng-controller="StudentCtrl" class="pull-right">
						<form class="form-inline" ng-show="loggedIn()" ng-submit="">
							<select class="input-small span2" ng-change="selectStudent()" ng-model="currentStudent" ng-options="student.name for student in students"></select>

							<select class="input-small span2" ng-change="selectSemester()" ng-model="currentSemester" ng-options="semester.name for semester in semesters"></select>
						</form>
					</div>
				</div>
			</div>
		</div>
    	<hr>
    	Context = {{context}}
    	<ul>
    		<li class="alert" ng-repeat="alert in alerts">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>Alert!</strong> {{alert}}
			</li>
    	</ul>
		<div ng-include src="context"></div>
		<hr>
	</body>
</html>