<div ng-controller="LoggerCtrl">
	<div ng-model="date" ui-date></div>
	Selected Date: {{ date }}
	<br>
	Formatted Date: {{ date | date: 'mediumDate'}}
	<br>
	Selected Month: {{ date.getMonth() }}

	<table>
		<thead>
			<tr>
				<td>Time</td>
				<td>Mon</td>
				<td>Tue</td>
				<td>Wed</td>
				<td>Thr</td>
				<td>Fri</td>
				<td>Sat</td>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="row in data">
				<td>{{row.time}}</td>
				<td ng-repeat="cell in row.classes">
					{{cell.elemID}}, {{cell.state}}, {{cell.class}}
				</td>
			</tr>
		</tbody>
	</table>
</div>